<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Areas/SK_AREA/Content/ClickObj.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @RenderSection("styleforProdMaintain", required: false)
    <style>
        .backstage_body {
            margin: 100px auto 150px auto;
        }

        .backstage_container {
            padding-left: 1vw;
            padding-right: 1vw;
        }

        .backstage_colnum_navbar {
            padding-top: 10vh;
            padding-bottom: 10vh;
        }

        * {
            font-size: 24px;
        }

        body {
            font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
        }

        .disnone {
            display: none;
        }

        .icon.active {
            display: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">後台管理</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="~/SK_AREA/SeOmiseRAM/IndexFirstLoadRAM">點我回前台</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li id="icon_login" class="nav-item loginout icon">
                <a class="nav-link" href="~/SK_AREA/MyLogin/Login">
                    Login
                </a>
            </li>
            <li id="icon_logout" class="nav-item loginout icon active">
                <a class="nav-link" href="#">
                    Logout
                </a>
            </li>
        </ul>
    </nav>

    <div class="backstage_container backstage_body row">
        <div class="col-2 backstage_colnum_navbar">
            <div class="list-group">
                <a href="~/SK_AREA/ProductStock/Index" type="button" class="list-group-item list-group-item-action">商品補貨</a>
                <a href="" type="button" class="list-group-item list-group-item-action">訂單出貨</a>
                <a href="~/SK_AREA/ProductMaintain/Index" type="button" class="list-group-item list-group-item-action">產品建檔</a>
                <a href="" type="button" class="list-group-item list-group-item-action">中分類</a>
                <a href="" type="button" class="list-group-item list-group-item-action">小分類</a>
                <a href="~/SK_AREA/Color/Index" type="button" class="list-group-item list-group-item-action">顏色</a>
                <a href="~/SK_AREA/Backstage/Index" type="button" class="list-group-item list-group-item-action">Supply供應商</a>
                <a href="~/SK_AREA/Shipping/Index" type="button" class="list-group-item list-group-item-action" disabled="">
                    Shipping運送公司
                </a>
                <a type="button" class="list-group-item list-group-item-action" data-toggle="collapse" href="#collapse1">商品檢視表</a>
                <div id="collapse1" class="panel-collapse collapse">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action">
                            <a href="~/SK_AREA/SeOmiseRAM/IndexFirstLoadRAM">ProductView</a>
                        </li>
                        <li class="list-group-item list-group-item-action">Two</li>
                        <li class="list-group-item list-group-item-action">Three</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-10">
            @RenderBody()
        </div>
    </div>

    <footer class="backstage_container">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Customer-Script/carhartl-jquery-cookie-92b7715/jquery.cookie.js"></script>
    @RenderSection("ProsMaintainScript", required: false)
    @RenderSection("Script", required: false)
    @RenderSection("Omise", required: false)
    <script>
        var _cookie_islogin = $.cookie('IsLogin');
        console.log("_cookie_islogin = " + _cookie_islogin);
        if (_cookie_islogin == "Admin") {
            $('#icon_backstage').removeClass("disnone");
            $('.loginout').toggleClass('active');
        }
        else {
            if (_cookie_islogin != null) {
                $('.loginout').toggleClass('active');
            }
            else {

            }
        }

        Logout();
        //----- function -----
        function Logout() {
            $('#icon_logout').on('click', function () {
                $.removeCookie('IsLogin', { path: '/'});
                alert("Waring ! You are logout");
                window.location.replace(`@Url.Action("IndexFirstLoadRAM","SeOmiseRAM",new { area="SK_AREA"})`);
            });
        }
    </script>
</body>
</html>