@model Minishop_ver_0._0._0.Areas.SK_AREA.Models.Supplier
@{
    ViewBag.Title = "Creat";
}

<h2>Creat</h2>


@*<form method="post" action="~/SK_AREA/Backstage/Create">*@
@using (Html.BeginForm("Create", "Backstage", new { area = "SK_AREA" }, FormMethod.Post, new { novalidate = "novalidate" }))
{
    <div class="form-group row">
        @*<label for="SupplierName" class="col-sm-2 col-form-label">SupplierName</label>*@
        @Html.LabelFor(l => l.SupplierName, new { @for = "SupplierName", @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @*<input type="text" value="@Model.SupplierName" name="SupplierName" id="SupplierName" placeholder="Supplier Name" required>*@
            @Html.TextBoxFor(t => t.SupplierName, new { placeholder = "Supplier Name" })
            @Html.ValidationMessageFor(v => v.SupplierName, "", new { @class = "text text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @*<label for="Phone" class="col-sm-2 col-form-label">Phone</label>*@
        @Html.LabelFor(l => l.Phone, new { @for = "Phone", @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @*<input type="text" value="@Model.Phone" name="Phone" id="Phone" placeholder="Phone" required>*@
            @Html.TextBoxFor(t => t.Phone, "", new { placeholder = "Phone" })
            @Html.ValidationMessageFor(v => v.Phone, "", new { @class = "text text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @*<label for="Fax" class="col-sm-2 col-form-label">Fax</label>*@
        @Html.LabelFor(l => l.Fax, new { @for = "Fax", @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @*<input type="text" value="@Model.Fax" name="Fax" id="Fax" placeholder="Fax" required>*@
            @Html.TextBoxFor(t => t.Fax, "", new { placeholder = "Fax" })
            @Html.ValidationMessageFor(v => v.Fax, "", new { @class = "text text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @*<label for="Email" class="col-sm-2 col-form-label">Email</label>*@
        @Html.LabelFor(l => l.Email, new { @for = "Email", @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @*<input type="text" value="@Model.Email" name="Email" id="Email" placeholder="Email" required>*@
            @Html.TextBoxFor(t => t.Email, "", new { placeholder = "Email" })
            @Html.ValidationMessageFor(v => v.Email, "", new { @class = "text text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @*<label for="Address" class="col-sm-2 col-form-label">Address</label>*@
        @Html.LabelFor(l => l.Address, new { @for = "Address", @class = "col-sm-2 col-form-label" })
        <div class="col-sm-10">
            @*<input type="text" value="@Model.Address" name="Address" id="Address" placeholder="Address" required>*@
            @Html.TextBoxFor(t => t.Address, new { placeholder = "Address" })
            @Html.ValidationMessageFor(v => v.Address, "", new { @class = "text text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">創建</button>
        </div>
    </div>

}
@*</form>*@
